
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <h3>Subject: <%=subject%></h3>
    <p><b>Question</b></p>
    <p><%=question%></p>
    <p><b>Notes</b></p>
    <p><%=content%></p>
    <p><b>Summary</b></p>
    <p><%=summary%></p>

    <button type="button" class="btn btn-danger" name="button">Delete</button>



<%- include("partials/footer"); -%>
