
<%- include("partials/header"); -%>


<h1><%=title%></h1>
<h3>Subject: <%=subject%></h3>
<p><b>Question</b></p>
<p><%=question%></p>
<p><b>Notes</b></p>
<p><%=content%></p>
<p><b>Summary</b></p>
<p><%=summary%></p>

<a class="btn btn-danger" href="/delete">Delete</a>

<%- include("partials/footer"); -%>
